html,
body,
* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
    
}

.title {

    text-align: center;
    font-size: 80px;
    font-family: 'Righteous', cursive;
    margin-top: 10px;
}

.parent {

    display: flex;
    justify-content: center;
    align-content: center;


}

.child {
    width: 400px;
    margin: 10px;
    height: 400px;
    text-align: center;
    border: 2mm ridge rgba(90, 187, 251, 0.6);
    align-content: center;
    box-shadow: 5px 10px #8888;
    

}

.subtitles {

    font-family: 'Abyssinica SIL', serif;
    font-size: 30px;

}

.image {
    margin-top: 5px;
    height: 250px;
    width: 250px;
}

.btext {
    font-family: 'Inter Tight', sans-serif;
    margin: 15px;
}