html,
body,
* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
    background-color: #FFF8E8;
}

.title {

    text-align: center;
    font-size: 80px;
    font-family: 'Righteous', cursive;
    margin: auto;
    height: auto;
    width: auto;
    background: rgba(300, 300, 300, 1);
    padding: 20px;
    animation: rainbow 1s ease-in alternate infinite;


}



.pie:hover {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1.2s, opacity 1.2s linear;
  

}

.funny2 {
    margin-top: 130px;
    position: absolute;
    font-size: 14px;
    font-family: 'Abyssinica SIL', serif;
}

.funny {
    margin-top: 130px;
    position: absolute;
    font-size: 14px;
    font-family: 'Abyssinica SIL', serif;
}

.funny:hover {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1.2s, opacity 1.2s linear;
}


@keyframes rainbow {

    0%:  {
        background-color: #FF7789;
    }

    10% {
        background-color: pink;
    }

    20% {
        background-color: #FFBB77;
    }

    30% {
        background-color: #f8ff77;
    }

    40% {
        background-color:#aaff77;
    }

    50% {
        background-color:#77FF92;
    }
    60% {
        background-color: #77FFd2;
    }
    70%{
        background-color: #77F3FF;
    }
    80% {
        background-color: #7F77FF;
    }

    90% {
        background-color: #BF77FF;
    }
    100% {
        background-color: #FF77E5;

    }

}

.title:hover {
    transition: ease-out .15s;
    transform: scale(1.2);
    animation: hvr-sweep-to-right;


}

.parent {

    display: flex;
    justify-content: center;
    align-content: horizontal;


}

.child {
    width: 400px;
    margin: 10px;
    height: 400px;
    text-align: center;
    border: 2mm ridge #FCD581;
    align-content: center;
    box-shadow: 10px 10px #8888;
    background: rgba(300, 300, 300, 1);
    -webkit-transition: -webkit-transform 1s;


}




.child:hover {


    transition: ease-out .15s;
    -webkit-transform: rotate(360deg) translateZ(0);
    
}


.two:hover {
    background-color: pink;
}

.frac:hover {
    background-color: lightskyblue;
}

.light:hover {
    background-color: lightgoldenrodyellow;
}

.lock:hover{
    background-color: lightsalmon;
}

.shrug:hover{
    background-color:lightcoral;
}

.latex:hover{
    background-color:lightcyan;
}

.e:hover{
    background-color: aquamarine;
}

.six:hover{
    background-color:lightslategray;
}

.nine:hover{
    background-color: rosybrown;
}

.subtitles {

    font-family: 'Abyssinica SIL', serif;
    font-size: 30px;
    background: rgba(300, 300, 300, 1);

}

.image {
    margin-top: 5px;
    height: 250px;
    width: 250px;
    -webkit-transition: -webkit-transform 1s;
}

.image:hover { 
    transition: ease-out .15s;
    -webkit-transform: rotate(360deg) translateZ(0);

}

.btext {
    font-family: 'Inter Tight', sans-serif;
    margin: 15px;
    background: rgba(300, 300, 300, 1);
    -webkit-transition: -webkit-transform 1s;
}

.btext:hover{
    transition: ease-out .15s;
    -webkit-transform: rotate(360deg) translateZ(0);
}

.pie {
    background-color: transparent;
    position: absolute;
    margin-top:40px;
    height: 200px;
    width: 400px;
    padding: 30px;
}


.crab1 {
    height:180px;
    width: 180px;
    margin-top: 50px;
    margin-right: 290px;
}

.crab2 {
    height:180px;
    width: 180px;
    margin-top: 50px;
    margin-left: 290px;
}

.crab1:hover {
    animation: wiggle 1s ease-in alternate infinite;
}

.crab2:hover {
    animation: wiggle 1s ease-in alternate infinite;
}

@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }
  
  .hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098D1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
    color: white;
  }
  .hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  .piewow { 
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 100px;
    width: 120px;
    

 
  }

  .piewow:hover {
    -webkit-animation: mover 2s ease-in infinite alternate;
    animation: mover 2s ease-in infinite alternate;
  }

  @keyframes spin {
    0% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(54deg);
    }
    30% {
      transform: rotateZ(108deg);
    }
    45% {
      transform: rotateZ(162deg);
    }
    60% {
      transform: rotateZ(216deg);
    }
    75% {
      transform: rotateZ(270deg);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }

@keyframes mover {
    0% { transform:  rotateY(0) rotateX(0deg); 
        ;
    }
    15% {
        transform: rotateY(54deg) rotateZ(20deg);
       }
       30% {
        transform: rotateY(108deg) rotateX(108deg) ;
    }
       45% {
             transform: rotateY(162deg) rotateX(162deg) ;
            }
            60% {
              transform: rotateY(216deg) rotateX(216deg) rotateZ(200deg);
            }
        75% {
            transform: rotateY(270deg)
        }

    100% { transform:  rotateY(360deg) ; 
        ;
    
    }
}

.text {
    text-align: center;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

  @keyframes going {
    @0% {
        margin-left: 20px
    }
    @10% {
        margin-left: 40px
    }

    @20% {
        margin-left: 60px
    }

    @30% {
        margin-left: 80px
    }
    @40% { 
        margin-left: 100px
    }
    @50% {
        margin-left: 80px
    }
    @60% {
        margin-left: 60px
    }
    @70% {
        margin-left: 40px
    }
    @80% {
        margin-left: 20px
    }
    @90% {
        margin-left: 0px
    }
    @100% {
        margin-left: 0px
    }
  }


  @media(min-width: 667px) and (max-width: 960px) {
    .btext{
        font-size: 15px;
    }
    .child{
        width: 300px;
        height: 300px;
    }
    .image {
        width: 150px;
        height: 150px;
    }

    .title{
        font-size: 50px;
        height: 100px;
        padding: 10px;
    }
    .pie{
        height:150px;
        width: 300px;
    }
    .funny{
        width: 150px;
        margiN-top: 100px;
    }
    .crab1{
        margin-right: 5px;
        width: 130px;
        height: 130px;
    }
    .crab2{
        margin-right: 5px;
        width: 130px;
        height: 130px;
    }
    .piewow {
        width: 100px;
        height: 85px;
    }
    .text {
        font-size: 20px;
    }
  }

  @media(min-width: 300px) and (max-width: 667px) {
    .btext{
        font-size: 8px;
        margin: 0px;
    }
    .child{
        width: 130px;
        height: 130px;
    }
    .image {
        width: 70px;
        height: 70px;
    }
    .subtitles {
        font-size: 15px;
    }
    .title{
        font-size: 25px;
        height: 50px;
        padding: 5px;
    }
    .pie{
        height:120px;
        width: 200px;
    }
    .funny{
        width: 100px;
        margiN-top: 90px;
        font-size: 9px;
    }
    .crab1{
        margin-top: 60px;
        margin-right: 0px;
        width: 70px;
        height: 70px;
    }
    .crab2{
        margin-top: 60px;
        margin-left: 150px;
        width: 70px;
        height: 70px;
    }
    .piewow {
        width: 50px;
        height: 40px;
    }
    .text {
        font-size: 15px;
    }
  }
  
  @media(min-width: 0px) and (max-width: 300px) {
    .btext{
        font-size: 8px;
        margin: 0px;
    }
    .child{
        width: 180px;
        height: 180px;
    }
    .image {
        width: 120px;
        height: 120px;
    }
    .subtitles {
        font-size: 5px;
    }
    .title{
        font-size: 25px;
        height: 50px;
        padding: 5px;
    }
    .pie{
        height:120px;
        width: 200px;
    }
    .funny{
        width: 100px;
        margiN-top: 90px;
        font-size: 9px;
    }
    .crab1{
        margin-top: 60px;
        margin-right: 0px;
        width: 70px;
        height: 70px;
    }
    .crab2{
        margin-top: 60px;
        margin-left: 150px;
        width: 70px;
        height: 70px;
    }
    .piewow {
        width: 50px;
        height: 40px;
    }
    .text {
        font-size: 15px;
    }
  }